@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.typing-container {
  font-size: 24px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 1s ease-in-out infinite;
  position: relative;
}

.typing-text {
  display: inline;
  color: var(--Main_Text_Color);
  font-size: 20px;
}

@media (max-width: 800px) {
  .typing-text {
    font-size: 16px;
  }
}
