%base {
  display: flex;
  gap: 5px;
}

.container{
  width: 50vw;
}

.contents{
  strong{
    @extend %base;
    &::before{
      content: "-";
    }
  }
  p{
    @extend %base;
    &::before{
      content: "•";
    }
  }
}

@media (max-width:650px) {
  .container{
    width: calc(100vw - 40px);
    padding-left: 10px;
    padding-right: 10px;
  }
}