@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --BG_Color: rgb(245, 245, 245);
  --MainThemeColor : rgb(25, 76, 103);
  --SubThemeColor : rgb(54, 159, 206);
  --MainTextColor: rgb(72, 72, 72);
  --SubTextColor : rgb(141, 141, 141);
}

p{
  color:var(--MainTextColor);
  font-weight: 500;
}

p.subText{
  color: var(--SubTextColor);
}
p.whiteText{
  color: var(--BG_Color);
}

h1,
h2{
  color: var(--MainThemeColor);
  margin: 0;
}

h3{
  font-size: 20px;
  color: var(--MainTextColor);
  margin: 0;
}

header{
  background-color: var(--MainThemeColor);
  min-height: 54px;
  width: 100%;
}

body {
  background-color: var(--BG_Color);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  min-width: 900px;
  overflow-x: auto;
}

main{
  height: calc(100vh - 56px);
  padding-top: 15px;
}
