@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSansKR-VariableFont_wght';
  font-weight: 600;
  src: url('../public/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf') format('opentype');
}

:root {
  --BG_Color: rgb(245, 245, 245);
  --MainThemeColor : rgb(13, 101, 143);
  --MainTextColor: rgb(72, 72, 72);
  --SubTextColor : rgb(133, 133, 133);
}

*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--BG_Color);
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: 'NotoSansKR-VariableFont_wght';
}




p{
  color:var(--MainTextColor);
  font-weight: 500;
  &.whiteText{
    color: var(--BG_Color);
  }
}

.subText{
  color: var(--SubTextColor);
  font-size: 12px;
}

h1,
h2{
  color: var(--MainThemeColor);
}

h2{
  font-size: 20px;
  font-weight: 600;
}

h3{
  font-size: 18px;
  color: var(--MainTextColor);
  margin: 0;
}


.line{
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 8px solid rgb(24, 127, 175);
  width: 100%;
  height: 1px;
  &::after{
    content: "";
    display: block;
    position: relative;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
    height: 8px;
    background-color: rgb(108 178 210);
    width: 50%;
  }
}

#AboutMe{
  min-width: 240px
}



@media (max-width:1000px) {
  body{
    min-width: 100%;
  }
}

