.main{
  display: flex;
  justify-content: center;
  height: calc(100vh - 56px);
  overflow-y: auto;
  padding: 10px;
}

.mainContainer{
  background-color: var(--BG_Color);
  height: calc(100vh - 56px);
  margin-bottom: -100px;
  min-width: min-content;
  width: 185mm;
  border:1px solid rgb(219, 219, 219);
  position: relative;
}
.contents{
  padding-left: 32px;
  padding-right: 32px;
  overflow-y: auto;
}
.contentsWrapper{
  display: flex;
}
@media (max-width:1000px) {
  .main{
    justify-content: flex-start;
  }
  .mainContainer{
    width: 100%;
    height: 100%;
  }
}

@media (max-width:650px) {
  .main{
    padding: 0px;
  }
  .contentsWrapper{
    flex-direction: column;
  }
  .mainContainer{
    height: min-content;
  }
  .contents{
    overflow-y:visible;
    padding-left: 5px;
    padding-right: 5px;
  }
}