%base {
  display: flex;
  gap: 5px;
}

.container {
  width: 50vw;
}

.contents {
  strong {
    @extend %base;
    font-weight: 600;
    font-size: 18px;
    &::before {
      content: "-";
    }
  }
  p {
    color: gray;
    line-height: 200%;
    b {
      display: contents;
      color: var(--MainThemeColor);
      font-weight: bold;
    }
    @extend %base;
    &::before {
      content: "•";
    }
  }
}

@media (max-width: 800px) {
  .container {
    width: calc(100vw - 40px);
    padding-left: 10px;
    padding-right: 10px;
  }
}
